body {
    padding: 1em 1em;
    margin: 0;
    font-family: "proxima-nova", "HelveticaNeue", "Helvetica","Arial", sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #555;
    border-top: 1rem solid #007CFF;
}

article h1,h2,h3 {
    margin: 0.8em auto;
    max-width: 40rem;
}

article p {
    margin: 0 auto 0.8em;
    max-width: 40rem;
}

article hr {
    margin: 2em auto;
    max-width: 40rem;
    border: 1px solid #007CFF;
}

h1,h2,h3,strong {
    color: #333;
}

h1 {
    font-size: 2em;
}

a {
  color: #007CFF;
  text-decoration: none;
}


p.contacts a {
    margin: 0 0.5em;
    vertical-align: text-top;
}

.contacts .fa-pen {
    margin: 0 1.5em;
    color: #333;
}

footer, .cent {
    text-align: center;
}

.contacts strong {
    font-size: 1.4em;
}

.verse {
    font-style: italic;
    font-size: 1rem;
}

div {
    max-width: 1024px;
    margin: 0.8em auto;
}

img.large {
    width: 100%;
}

